html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex; /*for flexibility and child element can be whenever it can*/
    justify-content: center; /*to center childs besed on main direction*/
    align-items: center; /*to center child elements besed on secondary direction*/
}

.content {
    border: 1px solid #0b0b0b;
    padding: 60px;
}

.pure-js-button {
    border-radius: 10px; /*to round buttom*/
    background-color: black;
    color: whitesmoke;
    border-color: #0b0b0b;
}

.pure-js-button:hover { /* change style - on mouse hover*/
    background-color: whitesmoke;
    color: #0b0b0b;

}

.reset-button {
    display: flex;
    justify-content: center;
}